#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav_main{
  display: flex;
  justify-content: space-between;
  background-color:wheat;
  margin-bottom: 100px;
}

.nav_list{
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.nav_list > li {
padding-left: 20px;
height:104px;
margin-right: 50px;
padding-top: 25px;
}

.kunzoe{
height:104px;
font-size: 40px;
margin-left: 10px;
padding-top: 25px;
}

.contain{
  background-color: #FE9B01;
  width: 1283px;
  height: 491px;
  top: 280px;
  left: 79px;
  border-radius: 40px;
  float: left;
}
.dalai_lama{
  top: 49px;
  left: 74px;
  top:-376px;
  left:-160px;
  position:relative;
}

.cloud{
  width: 348px;
  height: 204px;
  top: 223px;
  left: 875px;
  margin-left: 500px;
  margin-top:0px;
  position :absolute;
  left:100px;
}

.name{
  position:relative;
  top:-570px;
  left:850px;
}

.con_words{
  font-family: Avenir LT Pro;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  width: 600px;
  height: 245px;
  top: 385px;
  left: 650px;
  justify-content: center;
  position: relative;
  top:100px;
  left:600px;
}

.cloud2{
  width: 167px;
  height: 110px;
  top: -610px;
  left: 1000px;
  position:relative;
}

.name{
  list-style:inside;
  font-family: Avenir LT Pro;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.cont_base{
  width: 1043px;
  height: 50px;
  top: 704px;
  left: 247px;
  border-radius: 40px;
  width: 950px;
  top: 670px;
  left: 259px;
  font-family: Avenir LT Pro;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align:center;
  position:absolute;
  color: #FFFFFF;
  background-color:#000000CC;
  padding-top: 10px;
}

.Scholar_main{

}

.scholar_inner{
  /* position: relative; */
}

.scholar_cloud{
  width: 672px;
  height: 413px;
  top: 798px;
  left: 15px;
  opacity: 0.2;
  /* position: relative; */
}

.small{
  /* display: flex; */
  justify-content: center;
}

.small > hr{
  border: 2px solid #FDB714;
  /* width: 110px; */
  /* top: 1191px; */
  /* left: 150px; */
  /* border: 2px; */
  width: 55px;
  position: absolute;
  top:865px;
  left:250px
}

.small > p{
  color: #FDB714;
  font-family: Avenir LT Pro;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top:850px;
  left: 320px;
}

.scholar_para{
  color: #000000CC;
  font-family: Avenir LT Pro;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  width: 1140px;
  height: 191px;
  top: 983px;
  left: 150px;
  position: absolute;
  left: 180px;
  top: 920px;
}

.scholar_inner > hr{
  border: 2px solid #FDB714;
  width: 1140px;
  position: relative;
  top: -60px;
  right: -50px;
}

.scholar_smallpara{
  color: #00000080;
  font-family: Avenir LT Pro;
  font-size: 15px;
  font-style: italic;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  position: absolute;
  top: 1130px;
  right: 480px;
}

.scholar_button{
  background-color: #127002;
  width: 1140px;
  height: 84px;
  /* top: 1244px; */
  left: 50px;
  border-radius: 40px;
  color: white;
  margin-bottom: 30px;
  position:relative;
}

.scholar_button > button{
  font-family: Avenir LT Pro;
  font-size: 24px;
  font-weight: 750;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  width: 433px;
  height: 29px;
  top: 1272px;
  left: 503px;
  padding-top: 25px;
}

.black{
  background-color: #000000CC;
  color: #FFFFFF;
  width: 1140px;
  height: 43px;
  left: 50px;
  position: relative;
  text-align: center;
  padding-top: 10px;
}

.scholar_img{
  width: 1140px;
  height: 333px;
  /* top: 1404px; */
  left: 50px;
  position: relative;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
* {
  max-width: 100%;
}
/* CtaScholorships */
.container {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
  grid-gap: 20px;
}
.hr-lines:before {
  content: " ";
  display: block;
  height: 2px;
  width: 60px;
  position: absolute;
  top: 25%;
  left: 0;
  background: black;
}
.hr-lines,
.hr-blogs,
.name-lines {
  position: relative;
}
.hr-blogs:before {
  content: " ";
  display: block;
  height: 2px;
  width: 50px;
  position: absolute;
  top: 40%;
  left: 0;
  background: black;
}
.name-lines:before {
  content: " ";
  display: block;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 40%;
  left: 0;
  background: white;
}

/* blogs */

.blog_container {
}
